VITE_FRONTEND_PORT=8080
VITE_BACKEND_BASE_URL=http://localhost:3000
VITE_API_BASE_PATH=/api
VITE_AUTH_SECURE_MODE=true #Choices: true = access token stored in memory, otherwise stored in localstorage
VITE_RECAPTCHAV3_SITE_KEY=# (optional) Google recaptcha site key6Lc0bvcrAAAAAIAdZ6os2-sBzjnSfe3oVCh7PMUt
VITE_GA_ID=# (optional) Google analytics ID (ex. G-XXXXXXXXXX)