# Environment variables example

# Copy or rename this file to .env
# Paths below that are relative to working dir (ex. node executed inside backend dir, LOG_DIR and USERCONTENT_DIR will be created in backend dir)

#general
APP_URL=https://localhost:8080 #Or your actual URL: https://mydomain.com
FRONTEND_PORT=8080
BACKEND_PORT=3000
LOG_DIR=./logs
USERCONTENT_DIR=./usercontent
SEED_USER_USERNAME=admin #Set username to create on first run
SEED_USER_PASSWORD=admin #Set password for user SEED_USER_USERNAME
HOME_PAGE_USER=admin #Set username of user to show their posts on the home page
POST_ALLOWED_USER=admin #Set a username to allow only that user to create posts
JWT_ACCESS_SECRET=#Secret key used to sign JWT Ex. value: random 32 alphanumeric chars
SIGNED_URL_SECRET=#Secret key used sign URLs for temporary image access. Ex. value: random 32 alphanumeric chars

#db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Postgres1@
POSTGRES_DB=jpdm

#mailer
SMTP_HOST=#Host or IP of SMTP server. https://nodemailer.com/smtp#general-options
SMTP_SERVER_NAME=#Hostname used in TLS cert validation, required if IP used in SMTP_HOST
SMTP_PORT=#587 or 465 if SMTP_SECURE=true
SMTP_SECURE=#false if using 587, true if using 465
SMTP_USER=#SMTP server username used to send email
SMTP_PASS=#SMTP server password

#pgadmin: http://localhost:5050
PGADMIN_DEFAULT_EMAIL=pgadmin@localhost
PGADMIN_DEFAULT_PASSWORD=Pgadmin1@
PGADMIN_CONFIG_MAX_LOGIN_ATTEMPTS=0

#social login
#GOOGLE_CLIENT_ID=#Google cloud credentials > oauth 2.0 client id, used for passport social login
#GOOGLE_CLIENT_SECRET=#Google cloud credentials > oauth 2.0 client secret, used for passport social login
#FACEBOOK_APP_ID=#Facebook app settings > basic > app id, used for passport social login
#FACEBOOK_APP_SECRET=#Facebook app settings > basic > app secret, used for passport social login

#google recaptcha
#RECAPTCHAV3_SECRET_KEY=#Google recaptcha secret

#litellm
#LITELLM_API_BASE_URL=http://localhost:4000
#LITELLM_MASTER_KEY=sk-masterkey
#LITELLM_SALT_KEY=#Used to encrypt/decrypt API keys Ex. value: random alphanumeric chars, https://1password.com/password-generator/
#LITELLM_VIRTUAL_KEY=sk-virtualkey
# Then set your AI API keys here, then use in the litellm.yml file (check litellm.example.yml):
# OPENAI_API_KEY=(api key) or any other provider, ex. DeepSeek, etc

#others
#LOG_SQL=#Set to 1 if you want to log SQL queries
#DEBUG_TRACE=1
#DEBUG=1