@font-face {
    font-display: swap;
    font-family: 'Anton SC';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/anton-sc-v1-latin-regular.woff2');
}

/* geist-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Geist';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/geist-v4-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* geist-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Geist';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/geist-v4-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* geist-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Geist';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/geist-v4-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}